$font-size-root: 16px;
$line-height: 1.4;
$font-family-serif: "Lora"; 
$font-family-base: "Open Sans";

$red: #7D121E;
$gold: #FFC857;
$blue: #577590;
$green: #60935D;
$light: #FBF2EE;

$primary: $red;
$secondary: $gold;
